/* check box */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 25px;
  margin-bottom: 12px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
  background-color: #ccc;
}

/* end of checkbox */

/* custom table */

td,
th {
  padding: 10px 0 10px 0;
  text-align: start;
}

th:not(:first-child):not(:last-child) {
  text-align: center;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

input:focus {
  outline: none;
}

/* sub images */
.sub-img-container::-webkit-scrollbar {
  width: 2px;
}

.sub-img-container:not(:first-child) {
  margin: 15px 0 15px 0
}

.image-hover:hover {
  filter: brightness(70%)
}

/* admin table */
.admin-table th {
  padding: 20px;
}

.admin-table td {
  padding: 0.7rem 1rem 0.7rem 1rem;
}

.admin-table tr:nth-child(even) {
  background-color: #f6f6f6;
}

.admin-table th {
  font-weight: 600;
}

/*  */
.text-xss {
  font-size: 10px;
}

/* react-slider */
.input-range__slider {
  background: #ff6900;
  border: #ff6900;
}

.input-range__track--active {
  background: #ff6900;
}

/* image */

.image-hover {
  transform: scale(1);
  transition: all .4s;
}

.image-zoom:hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}