@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400;700&display=swap");

.montserrat-font {
  font-family: "Montserrat", sans-serif;
}

.domine-font {
  font-family: "Domine", serif;
}
