body {
  margin: 0;
  /* font-family: "Open Sans", sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

main {
  display: block;
  flex: 1 0 auto;
}
