.home-banner-container {
    background-image: url('https://cdn.hipwallpaper.com/i/44/31/4PaoHh.jpg');
}

.home-banner-container h1 {
    margin-right: 83px;
    margin-top: 71px;
}

.home-banner-container-link {
    margin-right: 73px;
    margin-bottom: 47px;
}